
.standout {
    color: blue;
}

h2.standout {
    color: red;
}


p {
    color: red;
}
.image1:hover {
    border-radius: 50%;
}

.image2:hover {
    border-radius: 30px;
}


.image3 {
    opacity: 0.8;
}

.image4:hover {
    filter: grayscale(70%);
}

.image5:hover{
    filter: blur(5px);
}